<section class="intro">
    <p>This is a humble collection of DIY guides and illustrations on maintenance, repairs and
        upgrades for glorious Nordic cars.</p>
    <p>Originally published at
        <a href="https://photo.platonoff.com/Auto/">saab.platonoff.com</a>.
    </p>
</section>

<mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="ovr-tree">
    <!-- Document leaf template -->
    <mat-tree-node *matTreeNodeDef="let leaf" matTreeNodeToggle>
        <a mat-button color="primary" [routerLink]="['/content', contentRoot, leaf.path]">
            <mat-icon>list_alt</mat-icon>
            {{leaf.name}}
        </a>
    </mat-tree-node>

    <!-- Expandable category template -->
    <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChildren">
        <div class="mat-tree-node">
            <button mat-button matTreeNodeToggle color="primary" [attr.aria-label]="'Toggle ' + node.name">
                <mat-icon class="mat-icon-rtl-mirror">
                    {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                </mat-icon>
                <mat-icon>
                    {{treeControl.isExpanded(node) ? 'folder_open' : 'folder'}}
                </mat-icon>
                {{node.name}}
            </button>
        </div>
        <!-- There is inline padding applied to this div using styles.
            This padding value depends on the mat-icon-button width.  -->
        <div [class.ovr-tree-invisible]="!treeControl.isExpanded(node)" role="group">
            <ng-container matTreeNodeOutlet></ng-container>
        </div>
    </mat-nested-tree-node>
</mat-tree>

<section class="disclaimer">
    <mat-card>
        <mat-card-content>
            <h3>Disclaimer</h3>

            <p>
                For technical information,
                use the <a href="https://saabwisonline.com/">official factory manual</a> or other
                applicable sources. Always exercise safety while working on a car and use your
                common sense. We assume no responsibility for any outcome of reader's actions.
            </p>

            <p>
				No part of these materials can be further reproduced or published without a
                written consent of their respective authors. Pull requests are welcome.
            </p>

            <p>For any any technical or administrative questions, do not hesitate to
                <a href="mailto:info@overboost.ca">email us</a>..
            </p>
        </mat-card-content>
    </mat-card>
</section>