:host {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 828px;
}

/* Shrink, dim and right align the publishing date. */
span.published {
    margin-left: auto;
    font-size: 66%;
    font-weight: 300;
    opacity: 50%;
    white-space: nowrap;
}

header {
    /* Header background should match the rest of the page */
    .mat-toolbar {
        background-color: unset;

        /* Pack the back button and the title together */
        div.title {
            align-items: center;
            display: flex;
            flex-direction: row;

            /* Tighten up title line spacing to fit two wrapped lines */
            h1 {
                line-height: 1em;
                white-space: normal;
            }
        }
    }
}
/* Pad the intro */
section.intro {
    margin: 1em 2em;
}

/* Pad the cards slightly wider than the intro */
.mat-card {
    margin: 1em 0;

    /* Switch the title layout to flex to allow right aligned date */
    .mat-card-title {
        display: flex;
        font-size: 120%;
        margin-bottom: 0.5em;
    }

    /* Large, bold and dimmed counter in the right bottom corner */
    span.slide-counter {
        bottom: 0;
        font-size: 120%;
        font-weight: 700;
        opacity: 0.2;
        position: absolute;
        padding-bottom: 12px;
        padding-right: 12px;
        right: 0;
    }
}

/* Reduced margins on phone screens */
$narrow-breakpoint: 440px;

@media (min-width: $narrow-breakpoint) {
    /* Pads no longer have to match the screen width, add some gap there */
    .mat-card {
        margin: 1em 1em;
    }
}   

/* Horizontal card layout on wider screens */
$wide-breakpoint: 1200px;

/* Allow for wider cards if there's enough space */
@media (min-width: $wide-breakpoint) {
    :host {
        max-width: 1320px;
    }

    /* Set the card height to the average image size */
    .mat-card {
        height: 600px;
        margin: 1.5em 2em;

        /* Align the image to the left side of the container, matching its height */
        .mat-card-image {
            border-bottom-left-radius: inherit;
            border-top-right-radius: unset;
            float: left;
            height: calc(100% + 32px);
            padding-right: 40px;
            width: unset;
        }

        /* Pad the title at the top some more */
        .mat-card-title {
            margin-top: 0.5em;
        }
    }
}
