:host {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 800px;
}

/* Shrink, dim and right align the publishing date. */
span.published {
    margin-left: auto;
    font-size: 66%;
    font-weight: 300;
    opacity: 50%;
    white-space: nowrap;
}

header {
    /* Header background should match the rest of the page */
    .mat-toolbar {
        background-color: unset;

        /* Pack the back button and the title together */
        div.title {
            align-items: center;
            display: flex;
            flex-direction: row;

            /* Tighten up title line spacing to fit two wrapped lines */
            h1 {
                line-height: 1em;
                white-space: normal;
            }
        }
    }
}

/* Pad the intro */
section.intro {
    margin: 1em 2em;
}

/* Pad the cards slightly wider than the intro */
.mat-card {
    margin: 1em 1em;

    /* Switch the title layout to flex to allow right aligned date */
    .mat-card-title {
        display: flex;
        margin-left: .5em;
        padding-left: .5em;

        span.mat-badge-content {
            height: 2em;
            left: -42px;
            line-height: 2em;
            top: -42px;
            width: 2em;
        }
    }

    .mat-card-content {
        padding-left: 1.8em;
    }
}
