/* Force a vertical layout with overflow in the main element */
:host {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* Toolbar styling */
header {
    z-index: 5;

    .mat-toolbar {
        /* Material H1 is not large enough for the title,
           make it bigger and slightly more condenced */
        a {
            color: inherit;
            font-size: 150%;
            letter-spacing: -1px;
            text-decoration: none;

            /* Align the icon with the text and make it larger,
               pad on the right a little */
            .mat-icon {
                font-size: 130%;
                padding-right: 0.1em;
                vertical-align: bottom;
            }

            /* Merge the two OOs together */
            span.oo {
                letter-spacing: -5px;
            }

            /* Dim and shrink the domain to make it less prominent */
            span.domain {
                font-size: 80%;
                font-weight: 300;
                opacity: 50%;
            }
        }
    }
}

/* Allow overflow in the main element */
main {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden scroll;

    /* Fill the screen with content */
    section.content {
        flex: 1;
    }

    /* Tiny centered copyright footer */
    footer {
        font-size: 80%;
        opacity: 50%;
        padding: 1em .5em .5em .5em;
        text-align: center;
    }
}
