<header class="mat-elevation-z5">
    <mat-toolbar color="primary">
        <a href="#/">
            <mat-icon inline="true">speed</mat-icon>
            <span>overb<span class="oo">o</span>ost<span class="domain">.ca</span></span>
        </a>
    </mat-toolbar>
</header>
<main>
    <section class="content">
        <router-outlet></router-outlet>
    </section>
    <footer>
        Copyright &copy; 2000-2021 <a href="mailto:dmitry@overboost.ca">Dmitry Platonoff</a>. All rights reserved.
    </footer>
</main>